.book{
    padding:30 px;
}
.book-content{
    display: flex;
    align-items: center;
    margin: 20px;

}
.book-content-img{
    width: 30%;
    height: 300px;
object-fit: contain;
padding: 20px;
box-shadow: 0 0 1px 2px snow;
border-radius: 7px;
margin-right: 20px;
}
.book-content-info{
    width: 60%;
}
.book-title{
    font-size: 32px;
}